@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --font-antonio: "Antonio";
  --font-manrope: "Manrope";
}

@theme {
  --color-primary: #f9eee8;
  --color-secondary: #31302d;
  --color-accents: #c6bf8b;
}
